.section1, .section2, .section3, .section4, .section5{
    width: 300px;
    height: 300px;
} 

.section1{
    background-color: orange;
    border-width: 5px;
    border-color: steelblue;
    border-style: solid;
    padding: 30px 10px;
}

.section2{
    background-color: blue;
    border: 4px dotted darkred;
    border-radius: 15px;
}

.section3{
    background-color: darkviolet;
    border: 5px solid blue ;
    border-radius: 50%;
}

.section4{
    background-color: purple;
    border: 6px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;

}

.section5{
    background-color: lightgray;
    border:6px dashed green;
    border:10px 30px 60px 120px;
}

